<launch>

    <!-- Input and Model Configuration -->
    <arg name="input_file" doc="File to run segmentation on"/>
    <arg name="output_file" default="" doc="Output path for segmentation result"/>
    <arg name="model_name" default="ade20k-efficientvit_seg_l2" doc="Model to use"/>
    <!-- Launch file features -->
    <arg name="debug" default="false" doc="Whether or not to run with gdb"/>
    <arg name="launch-prefix" default="$(eval 'gdb --args' if debug else '')" doc="Actual launch prefix to use"/>

    <node pkg="semantic_inference" type="demo_segmentation" name="demo_segmentation"
          output="screen"
          launch-prefix="$(arg launch-prefix)"
          required="true">
        <rosparam command="load" file="$(find semantic_inference)/config/models/$(arg model_name).yaml"/>
        <param name="segmenter/model/model_file" value="$(find semantic_inference)/models/$(arg model_name).onnx"/>
        <param name="segmenter/model/engine_file" value="$(find semantic_inference)/engines/$(arg model_name).trt"/>
        <param name="segmenter/model/log_severity" value="INFO"/>
        <param name="input_file" value="$(arg input_file)"/>
        <param name="output_file" value="$(arg output_file)"/>
    </node>

</launch>
