<launch>

  <!-- options -->
  <arg name="verbose" default="true" doc="Show output via stdout"/>
  <arg name="config_path" default="$(find semantic_inference_ros)/config/openset_segmentation.yaml" doc="Configuration file for object detector"/>
  <arg name="min_separation_s" default="0.0" doc="Minimum time between input images"/>
  <arg name="compressed_rgb" default="false" doc="Triggers decompression for RGB stream"/>

  <node pkg="image_transport" type="republish" name="decompress_rgb"
    args="compressed in:=semantic_inference/color/image_raw raw out:=semantic_inference/color/image_raw"/>

  <node pkg="semantic_inference_ros" type="openset_segmentation_node" name="semantic_inference"
        output="$(eval 'screen' if verbose else 'log')"
        required="true">
      <rosparam file="$(arg config_path)" ns="model"/>
      <param name="worker/min_separation_s" value="$(arg min_separation_s)"/>
  </node>

</launch>
